/* main containers */
body{
	height:100vh;
}
#content{
	display:flex;
	width:100%;
	overflow-y:hidden;
	margin-bottom:1em;
}
@media(orientation: landscape){
	#content{
		flex-direction:row;
	}
}
@media(orientation: portrait){
	#content{
		flex-direction:column;
		overflow-y:auto;
	}
}
#contacts,
#polls{
	margin-left:1em;
	margin-right:1em;
	display:flex;
	flex-direction:column;
}
.elementbtn{
	appearance:none;
	padding:0.5em 0.5em;
	--cbg:#333;
	--cbgh:#555;
	--ctxt:#CCC;
	--ctxth:#FFF;
}
/* chat */
#chatcard{
	width:100%;
	max-width:100%;
	margin-bottom:0;
	display:grid;
	grid-template-columns:50% 50%;
}
#chatcard .elementbtn{
	--cbg:#151515;
	--cbgh:#000;
	--ctxt:#CCC;
	--ctxth:#FFF;
}
#chatlog{
	display:flex;
	flex-direction:column;
	background-color:#151515;
	width:100%;
	max-width:100%;
	max-height:85vh;
	overflow-y:auto;
	grid-area:1/1/1/3;
}
#premsg>textarea{
	width:calc(100% - 1em);
	box-sizing:border-box;
	resize:vertical;
}
#premsg>.in_head{
	display:block;
	width:calc(100% / 3 - 1em);
}
.post{
	padding:1em;
	background-color:#333;
	border-radius:0.25em;
	width:fit-content;
	margin:0.25em;
	position:relative;
}
.post.own{
	border-bottom-right-radius:0;
	align-self:flex-end;
}
.post.other{
	border-bottom-left-radius:0;
	align-self:flex-start;
}
.post .posttime{
	color:#AAA;
	text-align:right;
}
.post::after{
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	position: absolute;
	bottom: 0;
}
.post.own::after{
	background: radial-gradient(circle at 1em 0,#0000 0,#0000 1em,#333 1em);
	right: -1em;
}
.post.other::after{
	background: radial-gradient(circle at 0 0,#0000 0,#0000 1em,#333 1em);
	left: -1em;
}
#preview>.post{
	background-color:#151515;
	float:right;
}
.post>p{
	white-space:pre-wrap;
	margin:0 0 0.25em 0;
}
.post>h3,
.post>h4{
	margin-top:0;
	margin-bottom:0.5em;
}
.bpimgcontainer{
	float:right;
	min-width:10%;
	background-color:#555;
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:0.5em 0.5em 0.25em 0.5em;
	margin-bottom:0.25em;
	border-radius:0.25em;
}
@media(orientation: landscape){
	.bpimgcontainer{
		max-width: 20vw;
	}
}
@media(orientation: portrait){
	.bpimgcontainer{
		max-width: 50vw;
	}
}
.bpimgcontainer>img{
	max-width:100%;/* why do I have to set this? */
	min-width:100%;
}
.bpimgcontainer>span{
	margin-top:0.25em;
}
.post>input[type='radio']{
	visibility:hidden;
	position:fixed;/*hiding it without disabling it*/
}
.polllabel{
	display:block;
	cursor:pointer;
	width:fit-content;
}
.polllabel::before{
	content: "";
	display: inline-block;
	background-image:radial-gradient(#0000 50%, #CCC 60%,#0000 70%);
	width: 0.75em;
	height: 0.75em;
	margin-right: 0.3em;
	vertical-align:middle;
}
:checked+.polllabel::before{
	background-image:radial-gradient(#CCC 30%,#0000 40%,#0000 50%, #CCC 60%,#0000 70%)
}
/* contact list */
#contactform{
	white-space:nowrap;
	display:flex;
	align-items:center;
}
#contactform>button{
	--cbg: #FFF2;
	--cbgh: #FFF4;
	--ctxt: #CCC;
	--ctxth: #FFF;
}
#contacts>label{
	display:grid;
	margin:0;
	cursor:pointer;
	margin:0.5em;
}
#contacts>label>button{
	pointer-events:none;
	margin:0;
}
#contacts>input:checked+label>button{
	--cbg: #6AC;
	--cbgh: #6AC;
	--ctxt: #151515;
	--ctxth: #151515;
}
/* poll sidebar */
#polls input[type="text"]{
	display:block;
}
#polls button{
	vertical-align:middle;
}